# pCloud Login
PCLOUD_TOKEN=<TOKEN>

#PCLOUD_HOST="eu.api.pcloud.com"      # oder api.pcloud.com eu.api.pcloud.com
PCLOUD_HOST="eapi.pcloud.com"
PCLOUD_PORT="8399"
PCLOUD_TIMEOUT_SECS="90"
PCLOUD_UPLOAD_METHOD="uploadfile" # bei Bedarf ändern
PCLOUD_DEFAULT_FOLDERID="0"


PCLOUD_TIMEOUT="30"
PCLOUD_DEVICE="entropywatcher/raspi"

# json menschen lesbar =1, statt minified = default oder 0
PCLOUD_PRETTY_JSON=1

# Pfade für temporäre und archivierte Dateien
# PCLOUD_TEMP_DIR: Für Index, Delta-Reports, Manifeste während Upload
#                  (sollte auf SSD liegen, nicht Micro-SD!)
# PCLOUD_ARCHIVE_DIR: Langzeit-Archivierung erfolgreicher Manifeste
PCLOUD_TEMP_DIR="/srv/pcloud-temp"
PCLOUD_ARCHIVE_DIR="/srv/pcloud-archive"
